node_modules
.yarn
.pnp.*
.cache

out
out-web
dist
lib
build/Release
coverage
.nyc_output

.tmp
.opticode

extensions
builtin-extensions
app
tools/workspace

.vscode
.idea
.DS_Store

*.log
*.tgz
package-lock.json
yarn.lock
